*, :before, :after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a, button, input, textarea {
	color: inherit;
	font-weight: inherit;
	line-height: 1.4;
	transition: $transition-duration;
	transition-property: $transition-property;
	&:hover {
		transition: 0s;
	}
}

button, input, textarea {
	background: none;
	border: none;
}

input:not([type=checkbox]):not([type=radio]), textarea {
	min-width: 0;
	max-width: none;
	width: 100%;
}

a {
	display: inline-block;
	text-decoration: none;
}

button {
	cursor: pointer;
	font-size: inherit;
	text-align: left;
}

[role=button] {
	cursor: pointer;
	transition: $transition-duration;
	transition-property: $transition-property;
}

textarea {
	resize: none;
}

img {
	display: block;
	max-width: 100%;
}

li {
	list-style: none;
}

iframe {
	border: none;
}
