@import 'normalize';
@import 'variables';
@import 'themes';
@import 'default';

:root {
	height: 100%;
	--header-height: 60px;
	@media (max-width: $bp-desktop) {
		--header-height: 58px;
	}
	@media (max-width: $bp-tablet) {
		--header-height: 56px;
	}
	@media (max-width: $bp-mobile-medium) {
		--header-height: 44px;
	}
}

body {
	background-color: var(--bg-main);
	color: var(--color-text-primary);
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: .95em;
	line-height: 1.4;
	min-width: 320px;
	height: 100%;
	@media (max-width: $bp-tablet) {
		font-size: .9em;
	}
}

#__next {
	display: flex;
	flex-direction: column;
	height: 100%;
}
