:root {
	--bg-content: #fff;
	--bg-main: #fff;

	--border-color-primary: #222;
	--border-color-primary-hover: #999;
	--border-color-secondary: #888;

	--color-primary: #2290ff;
	--color-primary-hover: #22aeff;

	--color-button: #fff;
	--color-text-primary: #000;
}
