@import '/src/styles/variables';

.header {
	background-color: var(--bg-content);
	border-bottom: $border-secondary;
	width: 100%;
	position: fixed;
	z-index: 10;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: var(--header-height);
}

.logo {
	font-size: 2em;
	font-weight: 700;
	@media (max-width: $bp-tablet) {
		font-size: 1.8em;
	}
	@media (max-width: $bp-mobile-medium) {
		font-size: 1.6em;
	}
	&:hover {
		opacity: .7;
	}
}

.nav {
	display: flex;
	a {
		font-size: 1.1em;
		&:not(:last-child) {
			margin-right: .7em;
		}
		&:hover {
			opacity: .7;
		}
	}
}
